<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/faq" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">tanya</label>
            <input
              type="text"
              class="form-control"
              name="tanya"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="masukan pertanyaan"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">jawab</label>
            <input
              type="text"
              class="form-control"
              name="jawab"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="masukan jawaban"
            />
          </div>
          <button type="submit" class="btn btn-primary">add</button>
        </form>
      </div>
    </div>
  </div>
</div>
